<header class="header col-12">
    <div class="row col-12 justify-content-between">
        <h2 class="title col-9">Powerbank</h2>
        <fa-icon (click)="openNav()" [icon]="faPlusSquare" size="3x" class="squareIcon"></fa-icon>
    </div>


    <div class="row col-12 justify-content-center m-0 mt-2">
        <div id="progressContainer" class="progress col-12 p-0 my-2">
            <div id="progressBar" class="progress-bar text-dark bg-success" role="progressbar" max="100" [ngStyle]="{'width': numberInProcent + '%'}" name="progress-bar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
                <p id="progressText" class="position-absolute m-0">{{numberInProcent + '%'}}</p>
            </div>
        </div>
    </div>
</header>